<div id="servicesCarousel" class="carousel slide w-75 rounded mx-auto d-block p-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://as1.ftcdn.net/v2/jpg/01/38/73/66/1000_F_138736612_9xfKDKq5kh6zmw9EJZjluslMP7Uzbxda.jpg" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
                <p>With us, you can book any room from any hotel you need</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://as1.ftcdn.net/v2/jpg/01/55/99/04/1000_F_155990415_sUjMyIbJerSY0QjQbsAdn4J3XhEgZFiH.jpg" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
                <p>With us, you can rent any type of vehicle you need where you move</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://as1.ftcdn.net/v2/jpg/02/32/40/46/1000_F_232404619_pHe0JZcE7T4qLa4E533PcNQqkN8v5lAl.jpg" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
                <p class="text-dark">With us, you can find a job anywhere you travel</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://as1.ftcdn.net/v2/jpg/03/23/98/82/1000_F_323988237_chvitqsDtr7N0fyzNzRaAKmiOmk7B20d.jpg" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
                <h4 class="text-dark">Furniture Transport</h4>
                <p class="text-dark">With us, you don't need to search a movers company, we will handle it'</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://as2.ftcdn.net/v2/jpg/05/53/84/97/1000_F_553849742_SKWnSC622B5Sy44n1lZVE9RisOEiZox8.jpg" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
                <h4>Travel</h4>
            <p>With us, you can travel anywhere you like, since we assure you a means of transport</p>
        </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#servicesCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#servicesCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>