@model Email?;

<div class="container mt-5">
    <div class="card">
        <div class="card-header d-flex justify-content-center">@Model.Title</div>
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p style="white-space:pre-wrap" class="card-text" id="emailBody">@Model.Body</p>

        </div>
        <div class="card-footer">
            <p>Sent 2 days ago</p>
            <button type="button" class="btn btn-outline-primary" onclick="openReply()">Reply</button>
            <button type="button" class="btn btn-outline-warning">Forward</button>
            <button type="button" class="btn btn-outline-danger" onclick="deleteMail()">Delete</button>
            <form id="individualEmailForm" method="post">
                <input type="number" name="viewedEmailId" value="@Model.Id" hidden />
                <input id="replyBlockData" name="replyBlockData" hidden />
                <div id="replySection" class="d-none">
                    <textarea class="form-control w-100" id="replyBlock" rows="3">

                </textarea>
                    <button type="button" class="btn btn-outline-secondary" onclick="submitReply()">Send <object class="image/svg+xml" data="send.svg"></object></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function openReply() {
        var replySection = document.getElementById('replySection');
        if (replySection.classList.contains("d-none")) {
            replySection.classList.replace("d-none", "mb-3");
        }
    }

    function submitReply() {
        var form = document.getElementById('individualEmailForm');
        var block = document.getElementById('replyBlock');
        var blockData = document.getElementById('replyBlockData');
        let newBody = block.value.trim();
        blockData.setAttribute('value', newBody);
        form.action = "/Email/Reply";
        form.submit();
    }
</script>